<!DOCTYPE html>
<head>
    <title> I need help</title>
</head>

<body>
    <form method="POST">
        <select name="user">
            {%for user in users%}
            <option value={{user.id}}> {{user.name}}</option>
            {%endfor%}
        </select>
        <input name="quote">
        <button type="submit">submit</button>
    </form>
    <br>
    <table>
        <tr>
            <th> boi</th>
            <th> quote</th>
            <th> date</th>
        </tr>
        {%for quote in quotes%} 
            <tr>
                <td> {{quote.user}} </td>
                <td> {{quote.text}} </td>
                <td> {{quote.date}} </td>
            </tr>
        {%endfor%}
    </table>
</body>